.jumbotron {
  text-align: center;
  background-image: url('/assets/images/code.jpeg');
  background-position: top;
  background-size: cover;
  height: 290px;
  letter-spacing: 5px;
}

.jumbotron h1 {
  font-family: 'Bungee Outline', cursive;
  /*color: #63728c;*/
  color: gray;
  font-weight: 900;
}

.nav-column {
  margin-right: -231px;
  margin-left: 168px;
}

a {
  color: #e8a2a2;
  /*color: #ff8787;*/
}

#community-img {
  margin-left: 25px;
}

#about-img {
  margin-left: 4px;
}

#home-img {
  margin-left: 3px;
}

.container {
  font-family: 'Arvo', serif; best so far
}

.sub-header {
  text-align: center;
}

b, strong {
  color: black;
}

.button-div {
  text-align: center;
}

.community-info {
  text-align: center;
}

footer {
  background-image: url('/assets/images/succulent.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  height: 120px;
  margin-top: 200px;
}

#footer-text {
  text-align: right;
  color: white;
  padding-top: 3.5%;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-shadow: 10px;
  font-weight: bolder;
}

#women {
  font-size: 20px;
  letter-spacing: 0px;
  color: black;
}


/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Droid Sans Mono', monospace;*/*/
