.jumbotron {
  text-align: center;
}

.nav-column {
  margin-right: -231px;
  margin-left: 168px;
}

.sub-header {
  text-align: center;
}

.button-div {
  text-align: center;
}

.community-info {
  text-align: center;
}

footer {
  text-align: center;
}
