.jumbotron {
  text-align: center;
  background-image: url('/assets/images/code.jpeg');
  /*background-size: cover;*/
  background-position: top;
  background-size: cover;
  height: 290px;
  color: #63728c;
}

.nav-column {
  margin-right: -231px;
  margin-left: 168px;
}

a {
  color: #e8a2a2;
  /*color: #ff8787;*/
}

#community-img {
  margin-left: 25px;
}

#about-img {
  margin-left: 4px;
}

#home-img {
  margin-left: 3px;
}

.sub-header {
  text-align: center;
}

b, strong {
  color: black;
}

.button-div {
  text-align: center;
}

.community-info {
  text-align: center;
}

footer {
  text-align: center;
}
