<h2 class="sub-header">About</h2>

<p>Women in Tech PDX is a message board for femme identifying developers in Portland, Oregon. This site was created to build a stronger sense of community and support within the women of this industry.</p>

<p>Questions asked can range from technical to experiental, specific or general. All level of questions and answers are encouraged. All levels of experience and knowledge are welcome!</p>

<p>Step into the community with a question, or give back with answers.</p>
