<div class="jumbotron">
  <h1>Women in Tech PDX</h1>
</div>

<div class="container">
  {{outlet}}
</div>
<hr>
<footer>
  <p><em>plant and grow with the women developers in Portland, OR</em></p>
</footer>
