<div class="jumbotron">
  <h1>Women in Tech PDX</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" class="nav-column">
      <nav class="navbar navbar-light bg-faded">
        {{#link-to 'index'}}<a class="navbar-brand">
          <img src="/assets/images/home-flower.png" width="40" height="40" class="d-inline-block align-top" id="home-img">
          home
        </a>{{/link-to}}
      </nav>
    </div>
    <div class="col-sm-4" class="nav-column">
      <nav class="navbar navbar-light bg-faded">
        {{#link-to 'about'}}<a class="navbar-brand">
          <img src="/assets/images/sunflower.png" width="40" height="40" class="d-inline-block align-top" id="about-img">
          about
        </a>{{/link-to}}
      </nav>
    </div>

    <div class="col-sm-4" class="nav-column">
      <nav class="navbar navbar-light bg-faded">
        {{#link-to 'community'}}<a class="navbar-brand">
          <img src="/assets/images/lotus.png" width="40" height="40" class="d-inline-block align-top" id="community-img">
          community
        </a>{{/link-to}}
      </nav>
    </div>
  </div>
  <hr>
  {{outlet}}
</div>
<footer>
  <p id="footer-text">plant and grow with the <span id="women">women developers</span> in Portland, OR</p>
</footer>
